* {
    margin: 0px;
}

.places {
    position: absolute;
    top: 22%;
    font-size: 30px;
    left: 250px;
    width: 70%;
    margin-top: 20px;
}
article {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    width: 390px;
    margin: 14px;
    padding: 10px;
}
.places article {
    display: inline-block;
    margin-bottom: 30px;
}
.places .centered {
    position: relative;
    left: 230px;
}
.places article h2 {
    font-size: 30px;
    text-align: center; 
}


.price_by_night {
    color:#FF5A5F;
    border: 4px solid #FF5A5F;
    max-width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
    margin-left: 300px;
    transform:translateY(-50%);
    text-align: center;
    line-height: 60px;
    padding: 10px;
    margin-top: 10px;
}
.information {
    position: relative; 
    display: flex;
    justify-content: space-around;
    height: 80px;
    border-top: 1px #dddddd solid;
    border-bottom: 1px #dddddd solid;
    bottom: 30px;
}
.information, .user, .description {
    font-size: 14px;
}
.user {
    margin-bottom: 10px;
}
.information .max_guest {
    background-image: url('../images/icon_group.png');
}
.information .number_rooms {
    background-image: url('../images/icon_bed.png');
}
.information .number_bathrooms {
    background-image: url('../images/icon_bath.png');
}
.information .max_guest, .number_rooms, .number_bathrooms {
    width: 100px;
    background-image: url('../images/icon_group.png'); 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.information span {
    position: relative;
    top: 30px;
}
.places .amenities {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 380px;
}
.places .reviews {
    margin-top: 40px;
}
.places .amenities h2, .places .reviews h2 {
    font-size: 16px;
    width: 380px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;  
}
.places .reviews ul > li{
    transform: translateX(-20%);
    margin: 20px;
}
.places .reviews h3 {
    font-size: 14px;
}
.places .reviews p {
    font-size: 12px;
}
.places .amenities ul, .places .reviews ul {
    list-style-type: none;
}
.places .tv  {
   background-image: url('../images/icon_tv.png'); 
}
.places .wifi  {
    background-image: url('../images/icon_wifi.png'); 
}
 .places .pet  {
    background-image: url('../images/icon_pets.png'); 
}
.places .amenities, .reviews {
    font-size: 16px;
}
.places .tv, .wifi, .pet {
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 30px;
    transform: translateX(-20%);
    margin: 20px;
}

@media only screen and (max-width: 1300px) {
    .places {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 80%;
        left: 20%;


    }
    .places .centered {
        left: 0;
    }
}
@media only screen and (max-width: 600px) {
    .places {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 80%;
        left: 10%;
    }
}
