.filters {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}
.search-button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;
    left: 75%;
    margin-top: 10px;
}
.search-button:hover {
    opacity: 90%;
}
.locations {
    display: inline-block;
	height: 100%;
	width: 25%;
}
.amenities {
    
	display: inline-block;
	height: 100%;
	width: 25%;
}
.filters > .locations {
	border-right: 1px solid #DDDDDD;
} 
.locations h3, .amenities h3 {
	font-weight: 600;
    color: black;
}
.locations h4, .amenities h4 {
	font-weight: 400;
	font-size: 14px;
    color: black;
}
.locations h3, .locations h4, .amenities h3, .amenities h4 {
	margin: 0;
	margin-top: 10px;
	margin-left: 40px;
}
.filters ul > li {
    color: black;
    list-style-type: none;
}
.filters > .locations {
    border: 1px #DDDDDD solid;
}
.locations h3, .amenities h3 {
	font-weight: 600;
}
.locations h4, .amenities h4 {
	font-weight: 400;
	font-size: 14px;
}
.locations h3, .locations h4, .amenities h3, .amenities h4 {
	margin: 0;
	margin-top: 10px;
	margin-left: 40px;
}
.locations .popover, .amenities .popover {
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    width: 25%;
    top: 100%;
    border: 1px solid #DDDDDD;
}
.amenities .popover {
    left: 25%;
}
.locations:hover .popover, .amenities:hover .popover {
	display: block;
}
.locations .popover h2 {
    margin-bottom: 0;
}

@media only screen and (max-width: 900px) {
    .filters {
        width: 75%;
        height: 80%;
    }
}