body {
    margin: 0;
    padding: 0;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #484848;
    font-size: 14px;
}
.container {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
   
}